header {
	margin: 3em 0 0 0;
	width: 100%;
	.upper {
		@include flexbox;@include flex-flow(column nowrap);@include justify-content(center);
		li {display: block;}
		img {height: 70px;vertical-align: middle;}
		h2, h3 {line-height: 1;}
		line-height: 5em;
		.u1 {margin-top: 1em;}
		.u2 {@include flexbox;@include align-items(center);@include justify-content(center)}
		.bullets {text-align: center;padding: 0 20px;}
		.hide {display: none}
	}
	.banner {
		max-width: 1024px;margin: 15px auto;
		li {margin: 0px 10px 0px 10px; line-height: 1;}
		//* {margin: 0px 10px 0px 10px;}
	}
}

@media (min-width: 1024px) {
	header {
		.upper {
			@include flex-flow(row nowrap);
			img {height: 60px;}
			h2, h3 {line-height: 0.5;}
			line-height: 10em;
			.u1 {margin-top: 0;}
			.bullets { text-align: left; padding: 0px 0px 0px 50px;}
			.hide {display: block !important}
		}
		.banner {
			li {margin: 0px 30px 0px 30px;}
		}
	}
}



