.cont {@include flexbox;@include flex-flow(row wrap);}
.c1, .c2, .c3, .c4 {width: 100%; margin: 40px 0 0 0;padding: 0px 40px;}
.c1 {max-width: 1024px; margin: 40px auto 0 auto; text-align: left;}
.c2 {text-align: left;}
.c3 {padding: 0px 40px;}

@media (min-width: 1024px) {
	.c1 {width: 100%;}
	.c2 {width: 70%;}
	.c3 {width: 30%;}
	.c4 {width: 100%;}
}

@media (min-width: 1366px) {
	.cont {width: 1366px;margin-left: auto;margin-right: auto;}
}




