/* Colors */

$grey: #797979;
$light-grey: rgba(121,121,121,0.1);;
$green: #235C07;
$orange: #E95724;

a, h1, h2, h3, h4, h5, small, input, p, li {color: $grey;}
hr {border: 1px solid $light-grey;}

#flash_msg {
	color: rgb(255, 255, 255);
	.flash_notice {background: none repeat scroll 0% 0% rgba(135, 216, 211, 0.85);}
	.flash_alert {background: none repeat scroll 0% 0% rgba(204, 0, 0, 0.70);}
	.flash_success {background: none repeat scroll 0% 0% rgba(35, 92, 7, 0.85);}
}

#devise_modal {
	.links, .links > a {color: white;}
}

header, footer {
	a.white {color: white;}
    a:hover {color: $green;}
}

header .upper {
	background-color: $light-grey;
}

footer {
	p > span {color: $orange}
	.bottom span a {color: $green;}
}

#description {
    span {color: $orange}
    p:last-of-type {color: $green;}
}

#join {
	.name_text {color: $grey;}
	h4 {color: $green;}
	.btn_valid {background: $green;color: #FFFFFF;}
	.frame {background-color: $light-grey;}
}
