/* Typographies */

@font-face {font-family: 'Montserrat-ExtraLight'; src: url('<%= asset_path("Montserrat-Regular.otf") %>') format("truetype");}
@font-face {font-family: 'Montserrat-ExtraLight'; src: url('<%= asset_path("Montserrat-SemiBold.otf") %>') format("truetype");}
@font-face {font-family: 'Montserrat-ExtraLight'; src: url('<%= asset_path("Montserrat-Light.otf") %>') format("truetype");}
@font-face {font-family: 'Montserrat-ExtraLight'; src: url('<%= asset_path("Montserrat-ExtraLight.otf") %>') format("truetype");}
//@font-face {font-family: 'Montserrat-Regular'; src: url('/assets/Montserrat-Regular.otf') format("truetype");}
//@font-face {font-family: 'Montserrat-SemiBold'; src: url('/assets/Montserrat-SemiBold.otf') format("truetype");}
//@font-face {font-family: 'Montserrat-Light'; src: url('/assets/Montserrat-Light.otf') format("truetype");}
//@font-face {font-family: 'Montserrat-ExtraLight'; src: url('/assets/Montserrat-ExtraLight.otf') format("truetype");}
//@font-face {font-family: 'Oswald-bold'; src: url('/assets/oswald.bold.otf') format("truetype");}
//@font-face {font-family: 'Oswald-light'; src: url('/assets/oswald.light.otf') format("truetype");}
//@font-face {font-family: 'Oswald-regular'; src: url('/assets/oswald.regular.otf') format("truetype");}

$regular: 'Montserrat-Regular';
$bold: 'Montserrat-SemiBold';
$light: 'Montserrat-Light';
$xlight: 'Montserrat-ExtraLight';

// Init Modular scale
$ms-base: 16px;
$ms-ratio: 1.333;

// Init Typi
$typi: (null: (16px, 2), small: (18px, 2), medium: (18px, 2), large: (20px, 2));
$h1-map: (null: (ms(4), 1.2),medium: ms(3), large: (ms(3), 1.3));
$h2-map: (null: ms(3),medium: ms(3), large: ms(3));
$h3-map: (null: (ms(2), 2),medium: (ms(2), 2), large: (ms(2), 2));
$h5-map: (null: ms(-2),medium: ms(-1), large: ms(-1));

/////////////////////////////////////////

html {@include typi-base();}
body {font-family: $light;}

h1 { @include typi($h1-map) }
h2 { @include typi($h2-map); font-family: $bold; }
h3 { @include typi($h3-map); font-family: $bold; }
h4, ul, li, p { @include typi($typi) }
h5, footer > a { @include typi($h5-map) }

a, h1, h2, h3, h4, h5, input {vertical-align: middle;text-decoration: none;}
a:hover {text-decoration: none; cursor: pointer;}

#flash_msg {font-family: $bold; @include typi($h1-map)}

header {
    h2 {font-family: Oswald-regular}
    h3 {font-family: Oswald-light}
    .text{text-align: left;}
}
footer {
    span, a {font-family: $regular;}
    h4 {font-family: $xlight;}
}

.btn_valid { @include typi($h3-map);}

/*
#description {
  span {font-family: $regular;}
  p:last-of-type {font-family: $regular;}
}

#join {
  h4 {font-family: $regular;}
  .btn_valid {font-family: $regular;}
}
*/

