/* Forms
--------------------------------------------- 
*/

// Styling the input placeholders
::-webkit-input-placeholder {padding-left: 10px;color: #9e9e9e;opacity: 1;}
:-moz-placeholder { /* Firefox 18- */padding-left: 10px;color: #9e9e9e;opacity: 1;}
::-moz-placeholder {  /* Firefox 19+ */padding-left: 10px;color: #9e9e9e;opacity: 1;}
:-ms-input-placeholder {padding-left: 10px;color: #9e9e9e;opacity: 1;}